/* Google  fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Raleway:wght@200;300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: gold;
}
::-webkit-scrollbar {
  width: 0.4rem;
  background: #14161a;
}

::-webkit-scrollbar-thumb {
  background: gold;
  border-radius: 5px;
}